<!DOCTYPE html>
<html>
<head>
    <title>California Housing Prices</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .cover-image {
            max-width: 100%;
        }
        .about-dataset {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>California Housing Prices</h1>
    <img class="cover-image" src="https://github.com/msjahid/california-housing-prices/assets/12425488/f1c03818-54a7-4968-a75d-0a8ec7c9d136" alt="California House">

    <div class="about-dataset">
        <h2>About Dataset</h2>
        <p>
            <strong>Context:</strong> This is the dataset used in the second chapter of Aurélien Géron's recent book 'Hands-On Machine learning with Scikit-Learn and TensorFlow'. It serves as an excellent introduction to implementing machine learning algorithms because it requires rudimentary data cleaning, has an easily understandable list of variables and sits at an optimal size between being too toyish and too cumbersome.
        </p>

        <p>
            <strong>Content:</strong> The data pertains to the houses found in a given California district and some summary stats about them based on the 1990 census data. Be warned the data aren't cleaned so there are some preprocessing steps required! The columns are as follows, their names are pretty self-explanatory:
        </p>
        <ul>
            <li>longitude</li>
            <li>latitude</li>
            <li>housing_median_age</li>
            <li>total_rooms</li>
            <li>total_bedrooms</li>
            <li>population</li>
            <li>households</li>
            <li>median_income</li>
            <li>median_house_value</li>
            <li>ocean_proximity</li>
        </ul>

        <p>
            <strong>Acknowledgements:</strong> This data was initially featured in the following paper:
            Pace, R. Kelley, and Ronald Barry. "Sparse spatial autoregressions." Statistics & Probability Letters 33.3 (1997): 291-297.
            and I encountered it in 'Hands-On Machine learning with Scikit-Learn and TensorFlow' by Aurélien Géron.
        </p>

        <p>
            <strong>Source:</strong> This dataset is a modified version of the California Housing dataset available from <a href="https://www.kaggle.com/datasets/shibumohapatra/house-price">Kaggle's page</a>.
        </p>
    </div>
    
</body>
</html>
